<h2>Додавання нового багажу</h2>
<%= form_for :item, url: items_path do |f| %>
  <p>
    Кількість <br>
    <%= f.text_field(:amount, {:class => 'form-control'}) %>
  </p>

  <p>
    Вага <br>
    <%= f.text_field(:weight, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.submit({:class => 'btn btn-success'}) %>
  </p>
<% end %>