<h3>Знайти багаж, середня вага однієї речі в якому відрізняється не більш ніж на 0.3 кг від загальної середньої ваги однієї речі</h3>
<% if @item == nil %>
  <p>Такого багажа не існує</p>
  <% else %>
  <p>Вага: <%= @item.weight %></p>
  <p>Кількість: <%= @item.amount %></p>
<% end %>