<h3>Знайти число пасажирів, що мають більше 2-х речей й число пасажирів, чия кількість речей перевищує середню кількість речей</h3>
<p>Число пасажирів, що мають більше 2-х речей: <%= @amount_more_2 %></p>
<p>Число пасажирів, чия кількість речей перевищує середню кількість речей: <%= @amount_more_than_medium %></p>